* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.token.comment, 
.token.punctuation, 
.token.property, 
.token.selector {
  color: black;
}
.wrapper{
  min-width: 1100px;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}

#paper > pre{
  padding-left: 16px;
}
#paper > .content{
  overflow: auto;
}

@keyframes breathe
{
  0% { box-shadow: 0 0 1px 0px #beccd6; }
  50% { box-shadow: 0 0 10px 4px #beccd6; }
  100% { box-shadow: 0 0 1px 0px #beccd6; }
}